.App {
  margin: 2% 20%;
}

/* logo image */

body.main {
  background-color: #ffffff;

  /* border: rgb(18, 79, 120, 0.8) solid 1.5vw;*/
}

body {
  font-family: "Moto", serif;
  font-size: 16px;
  color: #0e0d50;
  background-color: #ffffff;
}

/* hero background image */

.imageAboutPage {
  /* You can adjust the value to your preference */
  width: auto; /* To maintain the aspect ratio */
}




/* ~~~ TEXT STYLING ~~~ */

.centered p {
  margin: 1px 0; /* Add some margin between paragraphs */
  font-family: "Moto", sans-serif;
  font-size: large;
  font-weight: 300;
}

.middle p {
  margin: 1px 0; /* Add some margin between paragraphs */
  font-family: "Moto", serif;
  text-align: center;
  font-size: large;
}

.middle p1 {
  margin: 1px 0; /* Add some margin between paragraphs */
  font-family: "URWGeometricRegular", sans-serif;
  text-align: left;
  font-size: medium;
}

.left-aligned {
  text-align: left;
  font-weight: 100;
}

.centered p1 {
  margin: 1px 0; /* Add some margin between paragraphs */
  font-family: "Moto", serif;
  font-size: medium;
  font-weight: lighter;
  justify-content: left;
}

h1.text-left {
  font-family: "Moto", serif;
  text-align: left;
  background-color: #ffc2c2;
  /* You can change the color (#000) and border width (2px) as needed */
  /* Adjust the padding to create space between the text and the border */
  display: inline-block; /* Ensures that the border wraps around the text */
  padding: 1.5%;
}

h1.text-center {
  font-family: "Moto", serif;
  text-align: center;
  font-size: 20px;
  /* You can change the color (#000) and border width (2px) as needed */
  /* Adjust the padding to create space between the text and the border */
  display: inline-block; /* Ensures that the border wraps around the text */
}

/* Centered text */
.centered {
  position: relative;
  padding-top: 90%;
  padding-bottom: 2%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  font-family: "Moto", serif;
  text-align: center; /* Center-align the text */
}

p {
  position: relative;
  text-align: left; /* Center-align the text */
  font-family: "Moto", serif;
  color: #0a085d;
}
p3 {
  position: relative;
  text-align: left; /* Center-align the text */
  font-family: "F25", serif;
  color: #0a085d;
}
p3b {
  position: relative;
  text-align: left; /* Center-align the text */
  font-family: "F25", serif;
  font-size: xx-large;
  color: #0a085d;
}

p2 {
  position: relative;
  text-align: left; /* Center-align the text */
  font-family: "Arial", serif;
  font-size: 10px;
  color: #0a085d;
}
p1 {
  font-family: "URWGeometricRegular", sans-serif;
  font-weight: 100;
}

.btn.btn-success {
  color: #ffb2b2; /* Set the text color for the blue button */
  /* You can add more styles here if needed */
}
/* Assuming .btn-outline-secondary is the class for your button */
.btn.btn-outline-secondary:hover {
  background-color: #ffb2b2;
  color: #a7b7f4 /* Specify the text color you want on hover */;
}

/* ~~~ CONTENT CONTAINER STYLING ~~~ */

.content {
  max-width: 567px; /* Adjust as needed */
  margin: auto;
  border: #001c80 solid 1px;
  padding-inline: 5%;
}

.containermain {
  border: #001c80 solid 1px;
  padding: 5%;
  background-image: url("stamp.png");
  background-repeat: no-repeat;
  max-width: fit-content;
  border-radius: 10px;
}

/* About page: Centered container for images and text */
.about-center-container {
  width: 100%;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  /* Add some vertical spacing if needed */
  min-height: 500px;
}

@media (min-width: 768px) {
  .about-center-container {
    width: 60%;
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
  }
}


@font-face {
  font-family: "Chobani";
  src: url("fonts/Chobani.ttf") format("truetype"); /* Specify the correct path to your font file */

  /* Add other font formats as needed */
}

@font-face {
  font-family: "Apercu";
  src: url("fonts/Apercu.otf") format("OpenType");
}

@font-face {
  font-family: "URWGeometricHeavy";
  src: url("fonts/URWGeometricHeavy.otf") format("OpenType");
}

@font-face {
  font-family: "URWGeometricSemiBold";
  src: url("fonts/URWGeometricSemiBold.otf") format("OpenType");
}

@font-face {
  font-family: "Moto";
  src: url("fonts/Moto.otf") format("OpenType");
}

@font-face {
  font-family: "URWGeometricRegular";
  src: url("fonts/URWGeometricRegular.otf") format("OpenType");
}

@font-face {
  font-family: "F25";
  src: url("fonts/f25.otf") format("OpenType");
}

@font-face {
  font-family: 'Melo';
  src: url('fonts/melo.ttf') format('truetype');
}