.Portfolio {
  margin: 2% 20%;
}

/* General body styles */
body {
  font-family: "Moto", serif;
  font-size: 16px;
  color: #374151;
  background-color: #ffffff;
}

/* Navbar styling */
.navbar {
  background-color: #ffffff;
  color: #374151;
  font-family: "Moto", serif;
  opacity: 0.7;
  padding: 2%;
  margin-top: 1%;
  z-index: 10;
  font-size: large;
  display: flex;
  list-style: none;
  justify-content: flex-start;
}

.nav-item {
  margin-right: 10px;
}

.nav-item a {
  text-decoration: none;
  color: inherit;
}

.nav-item a:visited {
  color: inherit;
}

/* Content container styling */
.container {
  border: #001c80 solid 1px;
  padding: 20px;
  max-width: 100%; /* Ensures the container takes up the available width */
  margin: auto; /* Centers the container */
}

/* Flex container to arrange cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between cards */
  justify-content: center; /* Center align the cards */
  
}

/* Style each card */
.card {
  width: calc(50% - 10px); /* Two cards per row with some gap */
  height: 400px; /* Increased height for better visibility */
  perspective: 1000px;
  cursor: pointer;
}

/* Ensure card flips */
.card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.is-flipped .card__inner {
  transform: rotateY(180deg);
}

/* Styles for front and back faces */
.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card__face--front {
  background-color: #fff;
}

.card__face--back {
  background-color: #f1f1f1;
  transform: rotateY(180deg);
}

/* Content inside card back */
.card__content {
  padding: 20px;
}

.card__body {
  text-align: center;
}

/* Custom button styles */
.btn.custom-btn {
  background-color: #ffc2c2;
  border: none;
  color: #374151;
  font-family: "Moto", serif;
  font-size: large;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn.custom-btn:hover {
  background-color: #ffb2b2;
  color: #ffffff;
}

/* Additional styles */
* {
  box-sizing: border-box;
}

/* Font face declarations */
@font-face {
  font-family: "Chobani";
  src: url("fonts/Chobani.ttf") format("truetype");
}

@font-face {
  font-family: "Apercu";
  src: url("fonts/Apercu.otf") format("OpenType");
}

@font-face {
  font-family: "URWGeometricHeavy";
  src: url("fonts/URWGeometricHeavy.otf") format("OpenType");
}

@font-face {
  font-family: "URWGeometricSemiBold";
  src: url("fonts/URWGeometricSemiBold.otf") format("OpenType");
}

@font-face {
  font-family: "Moto";
  src: url("fonts/Moto.otf") format("OpenType");
}

@font-face {
  font-family: "URWGeometricRegular";
  src: url("fonts/URWGeometricRegular.otf") format("OpenType");
}

@font-face {
  font-family: "F25";
  src: url("fonts/f25.otf") format("OpenType");
}
